.pag {
    display: flex;    
    padding: 10px;    
}

.pag button{
    background: #FF8000;
    border: none;
    color: white;
    cursor: pointer;;
    font-size: 25px;
    letter-spacing: 10px;
    margin: 0 4px;
    border-radius: 10px;
    text-align: center;
    
}

.pag button:hover {
    background-color: white;
    color: #FF8000;
}