@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Shizuru&display=swap');

.container{
    background-image: url('https://previews.123rf.com/images/gow27/gow271603/gow27160300069/53766028-doodle-culinaire-et-la-cuisine-%C3%A9criture-des-ingr%C3%A9dients-alimentaires-et-des-outils-de-cuisine-ic%C3%B4ne-.jpg');
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
 
}
.name {
    font-family: 'Akaya Telivigala', cursive;
    font-size: 3em;
    width: 15em;
    color: #CC0000;
}

.form{    
    color: white;
    background-color: #FF7E00;
    width: 47em;
    height: 40em;
    margin-top: 2em;
    margin-left: 16em;
    border-radius: 2em;
    
}
.div{
    margin: 5px;
    padding: 2px;
    
}

.label{  
    font-family: 'Akaya Telivigala', cursive;
    display: inherit;
}

.textarea{
    width: 400px;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  
}

.diet{
    width: 42em;
    height: 6em;
    margin-top: 2em;
    margin-left: 2em;
    
}

.btnnew{
    margin-bottom: 25px;
    width: 37%;
    height: 34px;
    background-color: #FF8000;
    border-radius: 5em;
    border: none;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
    align-items: end;
    transition-duration: 0.4s;
}

.btnnew:hover{
    background-color: white;
    color: #FF8000;
}

