@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Shizuru&display=swap');

.landingpage{
    background-image: url('https://yi-files.s3.eu-west-1.amazonaws.com/products/924000/924825/1564831-full.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: scroll    
}

.h1 {
  font-family: 'Akaya Telivigala', cursive;
  background-color: white;
}

.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 200px;
  cursor: pointer;
  color: rgb(3, 3, 3);
  transition: all 0.3s;
  position: relative;
  background-color: #FFE652;
  font-family: 'Akaya Telivigala', cursive;
  font-size: 28px;
}
.container{
  display: flex;
  flex-direction: column;
  margin-bottom: 50vh;
  margin-right: 40%;
}